:root{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
}

body{
    margin: 0px;
    padding: 0px;
}

.first_screen {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/first_section_bg/shutterstock_356285228-\(1\).png);
    background-size: cover;

}

.nav_bar {
    display : flex;
    padding-left: 7.34375vw;
    padding-top: 5.108920187vh;
    color: white;
    font-weight: var(--fw-light);

}

.logo {
    width: 0.0165vw;
    height: 0.0285vh;
}

.routes{
    margin-left: 35.902083333vw;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.services {
    margin-left: 3.697916666vw;
}

.startup{
    margin-left: 3.489583333vw;
}

.career {
    margin-left: 3.4375vw;
}

.company{
    margin-left: 3.541666666vw;
}

.blog {
    margin-left: 3.229166666vw;
}

.language {
    margin-left: 7.03125vw;
    width: 3.755868544vh;
    height: 3.755868544vh;
    background: transparent;
    border: 1px solid #FFFFFF;
    color: inherit;
}

.textFirstScreen {
    margin-top: 26.490140845vh;
    margin-left: 13.020833333vw;
    color: white;
    max-width: 22.864583333vw;
    font-family: 'Roboto', sans-serif;


}

.hearFromU {
    margin : 0px;
    margin-bottom: 3.849765258vh;
    font-size: 7.2rem;
    line-height: 6.6rem;
    font-weight: var(--fw-medium);

}

.lorem {
    font-size: 2rem;
    line-height: 3.3rem;
    font-weight: var(--fw-light);

}

.second_screen {
    height: 155.211267606vh;
    width: 100vw;
    padding-bottom: 6.948356807vh;
}

.second_screen_title {
    color: #283E51;
    font-size: 10rem;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    margin:0px;
    margin-top: 9.859154929vh;
    margin-bottom: 3.66197183vh;
}

.lorem_second_screen {
    width: 46.5625vw;
    font-size: 2rem;
    line-height: 3.3rem;
    text-align: center;
    margin: 0px auto;
}

.grid_container {
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0px auto;
    margin-top: 7.981220657vh;
    width: 74.010416666vw;
    grid-gap: 2.083333333vw 4.225352112vh;

}

.position_card {
    width: 23.28125vw;
    height: 27.323943662vh;
    box-shadow: 0px 0px 50px #67859E28;
    padding-left: 2.1875vw;
    padding-top: 3.943661971vh;
    font-weight: var(--fw-medium);
    font-size: 4.6rem;
    display: flex;
    flex-direction: column;
}

.position_img {
    max-width: 100%;
    max-height: 100%;
    
}
.posIcon{    
    flex-basis: 50%;
}

.posIcon1 {
    width: 8.037558685vh;
    height: 8.037558685vh;
}

.posIcon2 {
    width: 8.666666666vh;
    height: 12.093896713vh;
}

.posIcon3 {
    width: 6.870422535vh;
    height: 8.596804511vh ;
}

.posIcon4 {
    width: 6.969696969vh;
    height: 7.149295774vh;
}

.posIcon5 {
    width: 7.208450704vh;
    height: 10.297652582vh;
}

.posIcon6 {
    width: 9.032863849vh;
    height: 9.032863849vh;
}

.position_title {
    margin: 0px;
    padding: 0px;
    flex-basis: 50%;
    width: 70%;
    color:#283E51; 
    
}

.upload_cv {
    display: flex;
    margin: 0px auto;
    margin-top: 7.04887218vh;
    margin-bottom: 6.948356807vh;
    height: 13.145539906vh;
    width: 23.125vw;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.btn_wrapper {
    flex-basis: 40%;
}

.upload_cv_button {
    padding: 0px;
    border: 0.5rem solid #283E51;
    background-color: #17ac9d;
    outline: 0.7rem solid white;
    outline-offset: -0.7rem;
    border-radius: 50%;
    height: 13.145539906vh;
    width: 13.145539906vh;
}

.upload_cv_text {
    flex-basis: 60%;
    font-size: 3.8rem;
    font-weight: var(--fw-medium);
}

.third_section {
    background: url(./assets/Rectangle23/Rectangle23.png);
    height: 115vh;
    width: 100vw;
    padding-top: 4.600938967vh;
    background-size: contain;



}
.third_screen_title {
    text-align: center;
    font-size: 2.6rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-light);
}

 .contatct_us_drawing {
    margin-left: 41.322916666vw;
    margin-top: 3.71455399vh;
    width: 18vw;
    height: 4.5vh;
}

.contact_img {
    width: 100%;
    height: 100%;
}

.world {
    background: url(./assets/world/Group391.png);
    width: 70.833333333vw;
    height: 58.864788732vh;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 7.230046948vh;
    margin-left: 15.677083333vw;
    background-size: contain;

}

.hello-container {
    margin: 0 auto;
    width: fit-content;
    padding-top: 3.8%;
    padding-right: 3%;
}

.location-point {
    border-radius: 50%;
    background-color: #17ac9d;
    border: 0.5rem solid white;
    width: 0.477083333vw;
    height: 0.477083333vw;
    margin: 0px auto;
    margin-top: -4.6vh;
    margin-left: 34vw 

}
.name-with-logo {
    margin: 0px auto;
    margin-top: 13.708920187vh;
    width: fit-content;
}

.adress-info {
    font-family: "Roboto",sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    color: white;
    text-align: center;
    font-weight: var(--fw-normal);
    width: 22.775520833vw;
    height: fit-content;
    margin: 0px auto;
    margin-top: 2.159624413vh;
    padding: 0px;
}

.horizontal-line {
    width: 20%;
    margin: 0px auto;
}

.social-icons{
    width: fit-content;
    margin: 0px auto;
    margin-top: 1.877934272vh;
}
.social-icon{
    margin: 0px 0.312vw;
}

.licence {
    font-size: 2rem;
    opacity: 0.5;
    width: fit-content;
    color: white;
    margin: 0px auto;
    margin-top: 12.234741784vh;
}
@media only screen and (max-width: 1700px) {
    .hello-container , .location-point {
        transform: translateY(-20px);
    }
}

@media only screen and (max-width: 1400px) {
    :root {
        font-size: 8px;
    }

    .routes{
        margin-left: 28.902083333vw;
    }

    .upload_cv {
        flex-direction: column-reverse;
    }
    .hello-container , .location-point {
        transform: translateY(-30px);
    }
  }

@media only screen and (max-width: 1200px) {
    .hello-container , .location-point {
        transform: translateY(-35px);
    }
}


/*Tablet Ipad Air*/
@media only screen and (max-width: 1000px) {

    :root{
        font-size: 9px;
    }

    .nav_bar {
        padding-top: 4vh;
        margin: 0px;
        justify-content: space-around;   
    }

    .routes{
        display: grid;
        margin: 0px;
        padding-top: 15vw;
        grid-template-columns: auto auto auto;
        grid-column-gap: 10vw;
        grid-row-gap: 10vw;

    }

    .first_screen{
        padding-bottom: 5vh;
    }

    .textFirstScreen{
        margin-top: 20vh;
    }
    .routes > a {
        padding:0px;
        margin: 0px;
        font-size: 3rem;

    }

    .second_screen {
        height: fit-content;
    }

    .lorem_second_screen{
        width: 75vw;
    }

    .grid_container{
        grid-template-columns: auto auto;
    }

    .position_card{
        border-radius: 4%;
        padding: 10%;
        justify-content: center;
        align-items: center;

    }

    .position_title{
        text-align: center;
        width: fit-content;
    }
    .upload_cv_text{
        width: 40vw;
        text-align: center;
    }

    .third_section{
        height: fit-content;
        padding-bottom: 5vh;
    }

    .contatct_us_drawing{
        margin: 5vh auto;
        width: 50vw;
        height: 8vh;
    }

    .hello-container, .location-point {
        transform: translateY(-6.5vh);
    }

    .world{
        height: fit-content;
    }

    .name-with-logo{
        margin-top: 24vh;
    }

    .extra-padded{
        margin-top: 6.234741784vh;
    }
}

/*Phone (iphone 12)*/
@media only screen and (max-width:600px){
    :root{
        font-style: 7px;
    }
    .nav_bar {
        margin: 0px;
        padding: 30px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 100vh;
    }
    .logo {
        margin: 0px auto;
        height: fit-content;
        width: fit-content;
    }
    .routes {
        margin: 0px;
        font-size: 3rem;
        display:block;
        padding-bottom: 5vh;
    }
    .routes > a{
        display: block;
        margin-left: 15vw;
        margin-right: 15vw;
        width: 70vw;
        margin-top: 15vw;
        text-align: center;
    }
    .language {
        margin: 0px;
        font-size: 3rem;
        display: none;
    }
    .first_screen{
        height: fit-content;
        padding-bottom: 5vh;
    }
    .textFirstScreen{
        height: fit-content;
        margin: 0px 10vw 0px;
    }
    .lorem {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;
        width: 80vw;
        text-align: end;     
    }

    .second_screen{
        height: fit-content;
    }

    .grid_container{
        grid-template-columns: auto;
        justify-items: center;
        grid-row-gap: 5vh;
    }
    .position_card{
        width: 80%;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 10%;
    }
    .upload_cv_text{
        font-size:3rem;
    }

    .third_section{
        height: fit-content;
        background-size: cover;
    }
    .world{
        height: fit-content;
    }
    .contatct_us_drawing {
        margin: 3.7vh auto;
        /* margin-left: 41.322916666vw; */
        /* margin-top: 3.71455399vh; */
        width: 90vw;
        height: 6vh;
    }
    .hello-container{
        width: fit-content;
        margin: 0px;
        padding: 0px;
        transform: translateY(-40px) translateX(-20px);
    }
    .hello-img{
        width: 80vw;
    }

    .name-with-logo > img {
        max-width:100%;
    }

    .adress-info{
        margin: 10px 0px 0px;
        text-align: center;
    }
    .horizontal-line{
        width: 80%;
    }
    .centered{
        margin-left: auto;
        margin-right: auto;
    }

    .artificial-center{
        margin-left: 18vw;
    }

    .social-icons{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 5vw;

    }
    .licence{
        padding-bottom: 20px;
    }
    .extra-padded{
        margin-top: 6.234741784vh;
    }
}

@media only screen and (max-width:380px){
    :root{
        font-size: 7px;
    }

    .second_screen_title{
        font-size: 4rem;
    }
    
}

@media only screen and (max-width:280px){
    .second_screen_title {
        font-size: 4rem; 
    }
    .lorem{
        text-align: center;
    }
}
@media only screen and (max-height:750px) {
    .nav_bar{
        height: fit-content;
        
    }
    .routes{
        margin-top: 0px;
        padding-top: 0px;
    } 
    .routes > a{
        padding-top: 0px;;
        margin-top: 9vh;
    }
}

@media only screen and (max-height:600px) {
    .third_section , .second_screen, .world{
        height: fit-content;
    }
    .position_card{
        font-size: 4rem;
    }
    .third_section{
        padding-bottom:5vh;
    }
}